.trail{
    color: var(--light-text);
    font-family: "Varela Round", sans-serif;
    margin: 1rem;
}
.link-back {
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    color: var(--light-text);
}
.trail-color {
    color: var(--bright-green);
}
.post-image {
    max-height: 600px;
    margin: 0;
    padding: 0;

}
.post-title {
    color: var(--light-text);
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0;
}
.pub-date {
    color: var(--light-text);
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--bright-green);
}
.tags-container {
    display: flex;
    margin: 0;
    padding: 0;
}
.tag {
    color: var(--light-text);
    font-size: 0.7rem;
    font-family: "Varela Round", sans-serif;
    margin: 0.2rem;
    padding: 0rem 0.2rem;
    background-color: var(--orange-color);
    border-radius: 5px;
    max-height: 1rem;

}
.body-container {
    color: var(--light-text);
    margin: 0.5rem 2rem;
    padding-top: 1rem;
}

@media screen and (min-width: 700) {
    .body-container {
        margin-right: 8rem;
        margin-left: 8rem;
    }
}