.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-title {
    text-align: center;
    margin-top: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2rem;
}
.page-description {
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.dev-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.dev-post {
    margin-bottom: 3rem;
    background-color: var(--red);
}
.dev-img {
    width: 100%;
}
.dev-content {
    padding: 0 1rem 1rem 1rem;
}
.dev-title {
    text-transform: uppercase;
}
.dev-description {
    font-size: 0.9rem;
}
.dev-link {
    text-align: center;
    text-transform: uppercase;
}
.dev-link:hover {
    color: var(--middle-blue) !important;
}
@media screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row !important;
    }
    .dev-info {
        margin-right: 8rem;
    }
    .dev-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dev-post {
        justify-self: center;
        margin-right: 2rem;
    }
}