@font-face {
    font-family: "Raleway";
    src: url("../../static/fonts/Raleway-Regular.ttf")
    format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../../static/fonts/Raleway-Light.ttf")
    format("ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Raleway";
    src: url("../../static/fonts/Raleway-Medium.ttf")
    format("ttf");
    font-weight: 500;
}
:root {
    --main-bg: #4E5266;
    --red: #D7263D;
    --middle-blue: #68C5DB;

}

html {
    font-family: "Raleway", sans-serif;
    background-color: var(--main-bg);
}