.dev-container {
    display: flex;
    margin: 1rem 3rem 0 3rem;
    padding-bottom: 0;
    justify-content: center;

}
.page-title {
    color: var(--light-text);
    margin: 2rem 1rem;
    text-align: center;
}
.page-description {
    color: var(--light-text);
    margin: 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
}
.dev-post {
    color: var(--light-text);
    background-color: var(--deep-blue);
    padding-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.dev-title {
    margin: 1rem 2rem;
    padding-top: 0.25rem;
    text-align: center;
}
.dev-img {
    margin: 0;
}
.dev-description {
    text-align: center;
    margin: 0 0.75rem;
    padding: 1rem 0.25rem 1.5rem 0.25rem;
    font-size: 0.87rem;
}
.link {
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .dev-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}