.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--deep-blue);
    z-index: 1;
    box-shadow: 0.25rem 0.25rem 1rem black;
}
.menu {
    display: block;
    font-size: 1rem;
    color: var(--light-text);
    text-shadow: none;
    background-image: none;
    padding: 0.25rem 5rem 0.25rem 1rem;
}

.menu:hover {
    color: var(--orange-color);
}